<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body data-ng-app="WebApp">
    <div>

    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
