@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);


html{
    font-family: sans-serif;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    background: #f6f6f6;
}

body{
    font-size: 1.4rem;
    line-height: 1.4857143;
    background: #f6f6f6;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    color: #4c5667;
    padding-bottom: 6.1rem;
    overflow-x: hidden !important;
}

div{
    display: block;
}

a:hover, a:focus{
    text-decoration: none;
}

.container-login{
    margin: 11rem auto;
    max-width: 36rem;
}

.logo-sm{
    font-size: 2.6rem !important;
    font-weight: 600;
    line-height: 70px;
    color: #f9cd49 !important;
}

.container-login form{
    margin-top: 2rem !important;
}

.form-control{
    background-color: #fafafa;
    border-radius: 0.2rem;
    border: 0.1rem solid #eeeeee;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem;
}

.container-login .form-control{
    height: 4rem;
    padding-left: 4rem;
}

.container-login .form-control-feedback{
    left: 1.5rem;
    top: 0.3rem;
    color: rgba(76, 86, 103, 0.4);
    font-size: 2rem;
}

@font-face {
    font-family: 'Material Design Iconic Font';
    src: url('../fonts/Material-Design-Iconic-Font.eot?v=1.0.1');
    src: url('../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1') format('embedded-opentype'), url('../fonts/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype'), url('../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

.md {
    vertical-align: bottom;
    display: inline-block;
    font: normal normal normal 1.4rem/1 'Material Design Iconic Font';
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.md-account-circle::before{
    content: "\f006";
}